.appPreview {
  background: $color;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.36);
  margin-bottom: 1rem;
  &--box {
    min-height: 12rem;
    border: 1px solid #666;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #333;
    font-size: 1rem;
    background-color: #DDD;
  }
}